<h1><%= @restaurant.name %></h1>
<p>Current Grade: <%= image_tag "grade_card_a.jpg" if @restaurant.current_grade == "A"%>
<%= image_tag "grade_card_b.jpg" if @restaurant.current_grade == "B"%>
<%= image_tag "grade_card_c.jpg" if @restaurant.current_grade == "C"%>
<%= image_tag "grade_card_gp.jpg" if @restaurant.current_grade == ""%></p>
<p>Addres: <%= @restaurant.address %>
<p><%= @restaurant.zipcode.to_i %>
<p>Phone: <%= @restaurant.phone.to_i %>