- if flash[:notice]
	- flash[:notice]


.restaurant
	#information
		%h1= @restaurant.name.titleize 
		#address
			%h3
				= @restaurant.street_address 
				%br/
				= @restaurant.boro_and_zip 
				%br/
				= @restaurant.phone.to_i  
				%br/

	#map-canvas2{:style=> "width:250px; height:250px;"}
	/ #inspections_info
	/ 	= @restaurant.time_since_inspection  
	/ 	weeks since last inspection.
	/ 	%br/
	/ 	- unless @restaurant.last_violations == nil
	/ 		- @restaurant.last_violations.each_with_index do |r, i|
	/ 			= "#{i+1}." 
	/ 			= r
	/ 			%br/

	
		
= render :partial => "yelp"









