	<% if flash[:notice] %>
	<%= flash[:notice] %>
	<% end %>

<div class="restaurant">

	<div id="current_grade">
		<%= image_tag "grade_card_a.png" if @restaurant.current_grade == "A"%>
		<%= image_tag "grade_card_b.png" if @restaurant.current_grade == "B"%>
		<%= image_tag "grade_card_c.png" if @restaurant.current_grade == "C"%>
		<%= image_tag "grade_card_gp.png" if @restaurant.current_grade == nil %></p>
	</div>

	<div id="information">
		<h1><%= @restaurant.name.titleize %></h1>
		<div id="address">
			<h3>
				<%= @restaurant.street_address %><br>
				<%= @restaurant.boro_and_zip %><br>
				<%= @restaurant.phone.to_i %><br>
			</h3>
		</div>
	</div>

	<div id="inspections_info">

	</div>
</div>











