	<% if flash[:notice] %>
	<%= flash[:notice] %>
	<% end %>

<div class="restaurant">

	<div id="current_grade">
		<%= image_tag "grade_card_a.png" if @restaurant.current_grade == "A"%>
		<%= image_tag "grade_card_b.png" if @restaurant.current_grade == "B"%>
		<%= image_tag "grade_card_c.png" if @restaurant.current_grade == "C"%>
		<%= image_tag "grade_card_gp.png" if @restaurant.current_grade == nil %></p>
	</div>

	<div id="map-canvas2" style="width: 250px; height: 250px"></div>

	<div id="information">
		<h1><%= @restaurant.name.titleize %></h1>
		<div id="address">
			<h3>
				<%= @restaurant.street_address %><br>
				<%= @restaurant.boro_and_zip %><br>
				<%= @restaurant.phone.to_i %><br>
			</h3>
		</div>
	</div>
	<div id="map-canvas2"></div>
	<div id="inspections_info">
		<%= @restaurant.time_since_inspection %> weeks since last inspection.<br>
			<% @restaurant.last_violations.each_with_index do |r, i| %>
			<%= "#{i+1}"%> <%= r unless r == nil %><br>
			<% end %>


	</div>
</div>











