- if flash[:notice]
	- flash[:notice]

.restaurant_container
	.restaurant
		#current_grade
			= render :partial => "current"
		#information
			%h1= @restaurant.name.titleize 
			#address
				%h5
					= @restaurant.address

	.right_side
		#map-canvas2{:style=> "width:250px; height:250px;"}
		%h3 NEARBY RESTAURANTS
		%table
			%tbody
			- @nearby.each do |restaurant|
				%tr
					%td
						= restaurant.name
					%td 
						= restaurant.grade


	

