- if flash[:notice]
	- flash[:notice]

.restaurant_container
	.restaurant
		#current_grade
			= render "current"
		#information
			%h1= @restaurant.name.titleize 
			#address
				%h5
					= @restaurant.address
		%br/
		%br/
		#last_inspection_date					
			= @restaurant.time_since_inspection  
			weeks since last inspection.
		%br/
		%br/
		#violations
			%h3 MOST RECENT VIOLATIONS
			- unless @restaurant.last_violations == nil
				- @restaurant.last_violations.each_with_index do |violation, index|
					= "#{index + 1}." 
					= violation
					%br/









	.right_side
		#map-canvas2{:style=> "width:250px; height:250px; border-radius: 5px"}
		%br/
		%br/
		%h3 NEARBY RESTAURANTS
		%table
			- @nearby.each do |restaurant| 
				%tr
					%td
						= restaurant.name 
					%td{:id => "nearby_grade"}
						= restaurant.grade


	

