<!DOCTYPE html>
<html>
<head>
	<title>Grade Pending 2.0</title>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhUWJ1yNQ8jFdmSGBUjvn7ol2zB_nkdtI">
	</script>
	<script type="text/javascript" src="http://gmaps-utility-gis.googlecode.com/svn/trunk/fusiontips/src/fusiontips.js"></script>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" src="animate.min.css">

</head>

<div class ="grid">	
	<div class="nav">
		<ul id="nav_links">
			<% if user_signed_in? %>
				<li class='nav-animate'><%= link_to "My Favorites", my_account_path %></li>
				<li class='nav-animate'><%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
			<% else %>
				<li class="nav-animate"><%= link_to "Sign up", new_user_registration_path %> </li>
				<li class="nav-animate"><%= link_to "Sign in", new_user_session_path %></li>
			<% end %>
		</ul>
	</div>
</div>
	<%= yield %>

</body>
</html>
