<!DOCTYPE html>
<html>
<head>
  <title>Grade Pending 2.0</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
	<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
	<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
	<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
	<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script>

</head>
<body>

	<nav>
		<h1>Grade Pending 2.0</h1>
		<div id="nav_links">
			<% if user_signed_in? %>
				<!-- Link to my favorites here -->
				<!-- Delete method below needed as route is a DELETE  -->
				<%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
			<% else %>
				<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
			<% end %>
		</div>

	</nav>

<%= yield %>

</body>
</html>
