<!DOCTYPE html>
<html>
<head>
  <title>Grade Pending 2.0</title>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhUWJ1yNQ8jFdmSGBUjvn7ol2zB_nkdtI">
    </script>
    <script type="text/javascript" src="http://gmaps-utility-gis.googlecode.com/svn/trunk/fusiontips/src/fusiontips.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

	 


</head>
<body>

	<nav>
		<h1><%= link_to 'Grade Pending 2.0', root_path %></h1>
    <%= form_tag restaurants_search_path, :method=> 'get' do |f| %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search' %>
      <% end %>
		<div id="nav_links">
			<% if user_signed_in? %>
				<!-- Link to my favorites here -->
				<!-- Delete method below needed as route is a DELETE  -->
				<%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
			<% else %>
				<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
			<% end %>
		</div>

	</nav>

<%= yield %>

</body>
</html>
