<!DOCTYPE html>
<html>
<head>
  <title>Grade Pending 2.0</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

	 <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhUWJ1yNQ8jFdmSGBUjvn7ol2zB_nkdtI">
    </script>
    <script type="text/javascript">
      function initialize() {
      	var mapOptions = {
      		center: new google.maps.LatLng(40.7731024, -73.872255),
      		zoom: 12
      	};
      	var map = new google.maps.Map(document.getElementById("map-canvas"),
      		mapOptions);

      	var infowindow = new google.maps.InfoWindow({
      		content: 'YOLOYLOYLYOYLYOLYOYLYOYLYOYLYO'
      	});

      	var marker = new google.maps.Marker({
      		position: new google.maps.LatLng(40.7731024, -73.872255),
      		title: 'yolo1',
      		map : map
      	});
			
			google.maps.event.addListener(marker, 'click', function() {
					infowindow.open(map, marker);
			});
		}
      google.maps.event.addDomListener(window, 'load', initialize);

   
   
    </script>



</head>
<body>

	<nav>
		<h1>Grade Pending 2.0</h1>
		<div id="nav_links">
			<% if user_signed_in? %>
				<!-- Link to my favorites here -->
				<!-- Delete method below needed as route is a DELETE  -->
				<%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
			<% else %>
				<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
			<% end %>
		</div>

	</nav>

<%= yield %>

</body>
</html>
